<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>学习互助</title>
    <!-- Fonts-->
    <link rel="stylesheet" th:href="@{/css/fontsgoogleapis.css}">
    <!-- CSS Library-->
    <link th:href="@{/plugins/bootstrap/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/plugins/font-awesome/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/plugins/revolution/css/layers.css}">
    <link rel="stylesheet" th:href="@{/plugins/revolution/css/navigation.css}">
    <script type="text/javascript" th:src="@{/layui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style.min862f.css?v=4.1.0}">
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var userid = [[${session.userid}]];
    </script>
</head>
<!--参考 layui 后台布局-->
<body class="layui-layout-body">
<!--[if IE 7]>
<body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]>
<body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]>
<body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<header class="header">
    <div th:include="~{index :: myheader}"></div>
</header>
<main class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight blog" id="app">
        <div class="row">
            <div class="col-lg-4" v-for="(group, index) in articleRespVOGrouped" :key="index">
                <div class="ibox" v-for="(item, itemIndex) in group" :key="itemIndex">
                    <div class="ibox-content">
                        <a :href="'/article?articleId=' + item.articleId" class="btn-link">
                            <h2>{{ item.topic }}</h2>
                        </a>
                        <div class="small m-b-xs">
                            <strong>{{ item.userName }}</strong>
                            <span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.createTime | changeTime }}</span>
                        </div>
                        <div v-html="item.articleContent"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>标签:</h5>
                                <button v-for="(tag, index) in item.keywords" :key="index" class="btn btn-primary btn-xs" v-if="index === 0" type="button">{{ tag}}</button>
                                <button v-for="(tag, index) in item.keywords" :key="index" class="btn btn-white btn-xs" v-else type="button">{{ tag }}</button>
                            </div>
                            <div class="col-md-6">
                                <div class="small text-right">
                                    <h5>状态:</h5>
                                    <div> <i class="fa fa-comments-o"> </i> {{ item.commentCount }} 评论 </div>
                                    <i class="fa fa-eye"> </i> {{ item.viewsCount }} 浏览
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-footer bg--cover" >
        <div th:include="~{index :: myFooter}"></div>
    </div>
    <script th:src="@{/layui/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
    <script th:src="@{/js/content.min.js?v=1.0.0}"></script>
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        var ctx = '[[@{/}]]'.replaceAll("\"", "").replace('//', '/');
    </script>
    <script th:src="@{/js/common/core.util.js}"></script>
    <script type="text/javascript" th:src="@{/js/timeago.js}"></script>
    <script th:src="@{/js/common/collaboration.js}"></script>
</main>
</body>
</html>