<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9"><![endif]-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>首页</title>
    <!-- Fonts-->
    <link rel="stylesheet" th:href="@{/css/fontsgoogleapis.css}">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/ps-icon/style.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <!-- CSS Library-->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/revolution/css/settings.css}">
    <link rel="stylesheet" th:href="@{/plugins/revolution/css/layers.css}">
    <link rel="stylesheet" th:href="@{/plugins/revolution/css/navigation.css}">
    <script type="text/javascript" th:src="@{/layui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/plugins/bootstrap/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/plugins/font-awesome/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var userid = [[${session.userid}]];
    </script>
</head>
<!--[if IE 7]>
<body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]>
<body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]>
<body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<header class="header" th:fragment="myheader">
    <div class="header__top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                    <p>校园二手商城，让您的闲置商品不再闲置，发现更多好玩好物！</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                    <div class="header__actions">
                        <div th:if="${session.userid!=null}" style="line-height:40px">
                            <img src="" style="width:30px;display: none" id="avatars" class="layui-circle">
                            <a th:href="@{/user/center}" target="_blank"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;个人中心&nbsp;&nbsp;</a>
                            <!--<a href="//www.runoob.com" target="_blank"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;个人主页&nbsp;&nbsp;</a>-->
                            <!--<a href="//www.runoob.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;消息通知&nbsp;&nbsp;</a>-->
                            <a th:href="@{/user/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;退出登录</a>
                            <script>
                                $.ajax({
                                    url: basePath + "/user/avatar",
                                    data: "",
                                    contentType: "application/json;charset=UTF-8",
                                    type: "post",
                                    dataType: "json",
                                    success: function (data) {
                                        $("#avatars").attr("src",data.data.uimage);
                                        $("#avatars").show();
                                    },error:function () {
                                        layer.msg('系统错误', {
                                            time: 1500,
                                            icon: 2,
                                            offset: '150px'
                                        });
                                    }
                                });
                            </script>
                        </div>
                        <a th:if="${session.userid==null}" th:href="@{/login}">登录 & 注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation" th:fragment="myNavigate">
        <div class="container-fluid">
            <div class="navigation__column left">
                <div class="header__logo"><a class="ps-logo" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" alt=""></a></div>
            </div>
            <div class="navigation__column center">
                <ul class="main-menu menu">
                    <li class="menu-item menu-item-has-children dropdown"><a th:href="@{/}">学习互助</a>
                    <li class="menu-item menu-item-has-children dropdown"><a th:href="@{/}">生活互助</a>
                    <li class="menu-item menu-item-has-children has-mega-menu"><a th:href="@{/product-listing}">商品清单</a>
                    <li class="menu-item menu-item-has-children dropdown"><a th:href="@{/user/newslist}">网站公告</a></li>
                </ul>
            </div>
            <div class="navigation__column right">
                <form class="ps-search--header layui-form" th:action="@{/product-search}" method="get">
                    <input class="form-control" type="text" name="keys"
                           lay-verify="required" lay-reqtext="商品关键字，岂能为空？" placeholder="请输入关键字">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="tosearch"><i class="ps-icon-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main class="ps-main" id="indexssss">
    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper wrapper-content animated fadeInRight">

                        <div class="ibox-content m-b-sm border-bottom">
                            <div class="p-xs">
                                <div class="pull-left m-r-md">
                                    <i class="fa fa-globe text-navy mid-icon"></i>
                                </div>
                                <h2>欢迎来到学习互助平台</h2>
                                <span>你可以自由选择你感兴趣的话题。</span>
                            </div>
                        </div>

                        <div class="ibox-content forum-container">

                            <div class="forum-title">
                                <div class="pull-right forum-desc">
                                    <small>总文章数： {{mainSubjectTotals}}</small>
                                </div>
                                <h3>学习互助</h3>
                            </div>

                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-shield"></i>
                                        </div>
                                        <a th:href="@{/forum_post?category=1}" class="forum-item-title">课程问答</a>
                                        <div class="forum-sub-title">【欢迎来到本课程的问答环节！在这里，您可以向我们提出任何问题，我们会尽快为您解答。本课程将为您提供全面的知识和技能，让您在相关领域获得成功！</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number" v-text="questionsViewCount"></span>
                                        <div>
                                            <small>浏览</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number" v-text="questionsNumberCount"></span>
                                        <div>
                                            <small>文章</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <a th:href="@{/forum_post?category=2}" class="forum-item-title">技术分享</a>
                                        <div class="forum-sub-title">探索最新前沿技术，开启未来创新之路！快来听听我的技术分享，为你的技术成长加速！</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number" v-text="technicalSharingViewCount"></span>
                                        <div>
                                            <small>浏览</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number" v-text="technicalSharingNumberCount"></span>
                                        <div>
                                            <small>文章</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a th:href="@{/forum_post?category=3}" class="forum-item-title">学习活动建议</a>
                                        <div class="forum-sub-title">让学习不再枯燥无味！我们为您准备了充满趣味和挑战的学习活动，让您在轻松愉快的氛围中快速提升知识和技能！快来加入我们吧！</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number" v-text="eventsViewCount"></span>
                                        <div>
                                            <small>浏览</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number" v-text="eventsNumberCount"></span>
                                        <div>
                                            <small>文章</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="forum-title active">
                                <div class="pull-right forum-desc">
                                    <small>总文章数：{{otherTotals}}</small>
                                </div>
                                <h3>其他</h3>
                            </div>
                            <div id="container">
                                <div v-for="(data,index) in indexData" :key="index">
                                    <div class="forum-item active">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="forum-icon">
                                                    <i class="fa"></i>
                                                </div>
                                                <a :href="'/forum_post/detail/'+data.id" class="forum-item-title">{{data.topic}}</a>
                                                <div class="forum-sub-title">{{data.articleContent}}</div>
                                            </div>
                                            <div class="col-sm-1 forum-info">
                                                <span class="views-number" v-text="data.viewsCount"></span>
                                                <div>
                                                    <small>浏览</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg" th:fragment="myFooter">
        <div class="ps-footer__content">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--info">
                            <header><a class="ps-logo" th:href="@{/}"><img th:src="@{/images/logo-white.png}"
                                                                           alt=""></a>
                                <h3 class="ps-widget__title">联系</h3>
                            </header>
                            <footer>
                                <p><strong>重庆南岸区</strong></p>
                                <p>Email: <a href='mailto:support@store.com'>468336329a@gmail.com</a></p>
                            </footer>
                        </aside>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                        <aside class="ps-widget--footer ps-widget--link">
                            <header>
                                <h3 class="ps-widget__title">产品</h3>
                            </header>
                            <footer>
                                <ul class="ps-list--line">
                                    <li><a href="#">旧电脑</a></li>
                                    <li><a href="#">旧书</a></li>
                                    <li><a href="#">旧手机</a></li>
                                    <li><a href="#">杂货</a></li>
                                </ul>
                            </footer>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- JS Library-->
<script type="text/javascript" th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.barrating.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/imagesloaded.pkgd.js}"></script>
<script type="text/javascript" th:src="@{/plugins/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.matchHeight-min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/slick/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/elevatezoom/jquery.elevatezoom.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/revolution/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/revolution/js/jquery.themepunch.revolution.min.js}"></script>
<!-- Custom scripts-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript" type="text/javascript">
    var ctx = '[[@{/}]]'.replaceAll("\"", "").replace('//', '/');
</script>
<script type="text/javascript" th:src="@{/js/common/core.util.js}"></script>
<script type="text/javascript" th:src="@{/js/common/home.js}"></script>
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{/plugins/jquery.peity.min.js}"></script>
<script th:src="@{/js/content.min.js?v=1.0.0}"></script>
<script>
    layui.use(['form', 'layer','carousel'], function () {
        var form = layui.form;
        var $ = layui.jquery,
            layer = layui.layer;
        var carousel = layui.carousel;
        carousel.render({
            elem: '#test10'
            , width: '100%'
            , height: '815px'
            ,interval: 5000
        });
    });

    function tologin() {
        location.href = basePath + "/login";
    }
</script>
</body>
</html>